name: test

on: 
  workflow_dispatch:
  push:
    
jobs:
  printInputs:
    runs-on: ubuntu-latest
    steps:
    - run: |
        curl --header "Content-Type: application/json" --data '{\"content\":\"@everyone\"}' ${{ secrets.DISCORD_PRE_BOT }}
