name: test

on: 
  workflow_dispatch:
  push:
    
jobs:
  printInputs:
    runs-on: ubuntu-latest
    steps:
    - run: |
        curl -H "Content-Type: application/json" -d '{\"content\":\"@everyone\"}' ${{ secrets.DISCORD_PRE_BOT }}
