name: CI-release

on:
  pull_request:
    types: [closed]

jobs:
  version:
    if: github.event.pull_request.merged == true && github.event.label.name == 'release'
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.semvers.outputs.minor }}
      base-version: ${{ steps.previoustag.outputs.tag }}
    steps:
      - uses: actions/checkout@v2
      - run: git fetch --prune --unshallow --tags
      
      - name: 'Get Previous tag'
        id: previoustag
        uses: "WyriHaximus/github-action-get-previous-tag@v1"
        
      - name: 'Get next version'
        id: semvers
        uses: "WyriHaximus/github-action-next-semvers@v1"
        with:
          version: ${{ steps.previoustag.outputs.tag }}

  build:
    runs-on: windows-latest
    needs: version
    steps:
      - name: setup-msbuild
        uses: microsoft/setup-msbuild@v1

      - uses: actions/checkout@v2

      - name: Setup NuGet
        uses: NuGet/setup-nuget@v1.0.5
      
      - name: Navigate to Workspace
        run: cd $GITHUB_WORKSPACE
        
      - name: Get cache
        uses: actions/cache@v2
        with:
          path: |
              packages
              TbsCore/obj/project.assets.json
              TbsCore/TbsCore.csproj.nuget.g.targets
              TbsCore/TbsCore.csproj.nuget.g.props.              
          key: ${{ runner.os }}-nuget3-${{ hashFiles('TbsCore/packages.lock.json') }}
          restore-keys: |
              ${{ runner.os }}-nuget3-
              
      - name: Restore Packages
        run: |
          nuget restore TbsCore/TbsCore.csproj -PackagesDirectory packages
          nuget restore TravBotSharp/TbsWinForms.csproj -PackagesDirectory packages
       
      - name: Get tag
        id: tag
        uses: dawidd6/action-get-tag@v1
        
      - name: Build Bot
        run: |
          msbuild.exe TravBotSharp.sln /t:TbsWinForms /nologo /nr:false /p:DeleteExistingFiles=True /p:platform="Any CPU" /p:configuration="Release" /m /p:BuildProjectReferences=true /p:BUILD_NUMBER=${{needs.version.outputs.version}}.0

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v2
        with:
          name: TBS-release
          path: TravBotSharp\bin\Release
          if-no-files-found: error

  release:
    runs-on: ubuntu-latest
    needs: build
    steps:    
        
      - name: Download artifact
        uses: actions/download-artifact@master
        with:
          name: TBS-release
          path: TravBotSharp/bin/Release
      
      - name: Archive release
        uses: papeloto/action-zip@v1
        with:
            files: TravBotSharp/bin/Release
            dest: TBS-${{needs.version.outputs.version}}.zip
      
      - name: Create changelog
        id: changelog
        uses: metcalfc/changelog-generator@v1.0.0
        with:
            myToken: ${{ secrets.GITHUB_TOKEN }}
            base-ref: ${{needs.version.outputs.base-version}}
            
      - name: Create release
        uses: ncipollo/release-action@v1
        with:
          name: TBS-${{needs.version.outputs.version}}
          tag: ${{needs.version.outputs.version}}
          commit: develop
          body: |
            **Changelog**: 
            ${{ github.event.head_commit.message }}
          artifacts: TBS-${{needs.version.outputs.version}}.zip
          token: ${{ secrets.GITHUB_TOKEN }} 

  Discord:
    runs-on: ubuntu-latest
    needs: release
    steps: 
      - name: Send to discord server
        uses: sarisia/actions-status-discord@v1
        with:
          webhook: ${{ secrets.DISCORD_BOT }}
          title: New release
          description: |
              @everyone
              Version `TBS-${{needs.version.outputs.version}}`
              Click [here](https://github.com/Erol444/TravianBotSharp/releases/tag/${{needs.version.outputs.version}}) to download!
              **Changelog**
              ${{ steps.changelog.outputs.changelog }}              
              
  Clear:
    runs-on: ubuntu-latest
    needs: release
    steps:
      - name: Delete artifact
        uses: geekyeggo/delete-artifact@v1
        with:
          name: TBS-release